<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Legimática: normas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h2 th:text="${norma.nomePreferido}"></h2>
				<p th:text="${ementa}"></p>
			</div>
			<div class="col-md-2">
				<br />
				<p th:text="|Id: ${analise.id}|" />
				<p th:text="|Ano: ${analise.ano}|" />
			</div>
			<div class="col-md-2">
				<br />
				<p th:text="|Sentenças: ${analise.tamanhoSentencas}|" />
				<p th:text="|Tokens: ${analise.tamanhoTokens}|" />
			</div>
		</div>

	<h3>Indexadores</h3>
	<table class="table table-bordered table-striped table-hover">
		<tr>
			<th scope="col">Termo</th>
			<th scope="col">Id SIGEN</th>
			<th scope="col">Ementa</th>
			<th scope="col">Corpo da norma</th>
		</tr>
		<tr th:each="indexador: ${analise.indexadores}">
			<td th:text="${indexador.nome}"></td>
			<td th:text="${indexador.termoSigen.id}"></td>
			<td><i th:class="|fa fa-fw ${indexador.encontradoNaEmenta ? 'fa-check-square text-success' : 'fa-window-close text-danger'}|"></i>
				<span th:text="${indexador.encontradoNaEmenta}" /></td>
			<td><i th:class="|fa fa-fw ${indexador.encontradoNoCorpo ? 'fa-check-square text-success' : 'fa-window-close text-danger'}|"></i>
				<span th:text="${indexador.encontradoNoCorpo}" /></td>
		</tr>
	</table>
	
	<h3>Entidades</h3>
	<table class="table table-bordered table-striped table-hover">	
		<tr>
			<th>Termos utilizados</th>
			<th>Tipo Entidade</th>
			<th>Tipo Substantivo</th>
			<th>Saliência Ementa</th>
			<th>Saliência Corpo</th>
			<th>É indexador?</th>
			<th>Está no SIGEN?</th>
			<th>Id SIGEN</th>
			<th>Tipo SIGEN</th>
		</tr>
		<tr th:each="entidade: ${analise.entidades}">
			<td th:text="${entidade.textos}"></td>
			<td th:text="${entidade.tipoEntidade}"></td>
			<td th:text="${entidade.tipoSubstantivo}"></td>
			<td th:text="${entidade.salienciaEmenta}"></td>
			<td th:text="${entidade.salienciaCorpo}"></td>
			<td><i class="fa fa-fw" th:classappend="${entidade.indexador ? 'fa-check-square text-success' : 'fa-window-close text-danger'}"></i>
				<span th:text="${entidade.indexador}" /></td>
			<td><i class="fa fa-fw" th:classappend="${entidade.vocabulario ? 'fa-check-square text-success' : 'fa-window-close text-danger'}"></i>
				<span th:text="${entidade.vocabulario}" /></td>
			<td><span th:each="termoSigen, idx: ${entidade.termosSigen}" th:text="${termoSigen.id} + (${idx.last} ? '' : ', ')" /></td>
			<td><span th:each="termoSigen, idx: ${entidade.termosSigen}" th:text="${termoSigen.p}  + (${idx.last} ? '' : ', ')" /></td>
		</tr>
	</table>
	
	<h3>Texto</h3>
	<ul>
		<li th:each="sentenca: ${sentencas}" th:text="${sentenca.text.content}" />
	</ul>

	</div><!-- container -->
</body>
</html>