<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Legimática: normas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	
	<div style="float: left">
   		<a th:href="@{'normas?ano=' + ${ano-1}}" th:text="${ano-1}" />
    </div>
   	<div style="float: right">
    	<a th:href="@{'normas?ano=' + ${ano+1}}" th:text="${ano+1}" />
    </div>
    <div style="text-align: center">
	    <form onSubmit="location.href='normas?ano='+document.getElementById('irPara').value; return false;">
	    	Ano: <input type="text" id="irPara"/><input type="submit" value="Ir" />
    	</form>
    </div>
    
    <div style="clear: both"></div>
   	<h1 th:text="${ano}" style="text-align: center" />
    
	<ul th:each="norma: ${normasComEmentas}">
		<li><a th:text="${norma.key}" th:href="@{'normas/nome/' + ${norma.key}}" target="_blank"></a> - <span th:text="${norma.value}" /></li>
	</ul>
</body>
</html>